
.space{
    height: 4vw;
}

*{
    padding: 0;
    margin: 0;
}
        
.content{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
        
.slide{
    color: #003f87;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide h1{
    font-family: 'Open Sans Condensed', sans-serif !important;
    padding: 10px;
    font-size: 60px !important;
    position: relative;
}
.slide p{
    font-family: 'Raleway', sans-serif;
    padding: 10px;
    position: relative;
    text-align: left;
    
}
#s1_bottle{
    position: absolute;
    display: inline;
    width: 28%;
    margin-top: calc(47vh - 16vw);
    margin-left: 22.5%;
    vertical-align: middle;
}
#slide1 h1{
    color: #003f87;
    top: 40%;
    right: -50%;
    width: 40%;
}
#slide1 p{
    color: #003f87;
    top: 40%;
    left: 50%;
    width: 40%;
}
#slide1{
    background-position: 0% 70%;
    background-image: url(../Images/bg_bpower_slide1.jpg);
}


#slide2 h1{
    top: 22%;
    right: -6%;
    width: 28%;
}
#slide2 p{
    top: 20%;
    left: 6%;
    width: 28%;
}
#slide2{
    background-image: url(../Images/bg_bpower_orange.jpg);
}

#slide3 h1{
    color: #003f87;
    top: 20%;
    right: -60%;
}
#slide3 p{
    color: #003f87;
    top: 20%;
    left: 60%;
    width: 40%;
}
#slide3{
    background-image: url(../Images/bg_bpower_s3.jpg);
    
}

#slide4 h1{
    top: 40%;
    left: 50%;
}
#slide4 p{
    top: 40%;
    left: 50%;
    width: 40%;
}
#slide4{
    background-position: 0% 6%;
    
    background-image: url(../Images/bg_bpower_s4.jpg);
}
.count{
    color: #003f87;
    font-size: 40px;
    position: relative;
}
