html,body{
    height: 100vh;
    width: 100vw;
    background-image: url(Images/img_fruit.jpeg);
    background-position: 0% 9%;
    background-size: cover;
    background-repeat: no-repeat;
}

*{
    font-family: Berlin Sans FB;
    margin: 0;
    padding: 0;
}

.logo{
    width: 27%;
}

.nav-link .navbar-brand{
    color: white !important;
}

.navbar-brand{
    font-size: 3vw 
    !important;
}

.nav-link{
    font-size: 1.3vw;
}

.content {
    margin-top: 17vw;
    margin-bottom: 30vw;
}

h1{
    font-size: 5vw !important;
}

p{
    font-size: 22px;
    text-align: center;
}

.parallax{
    height: 30vw;
    background-image: url(Images/img_carrot.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
}

input[type="text"]{
    width: 18vw;
}

textarea{
    width: 37.5vw;
}

.parallax2{
    height: 50vw;
    background-image: url(Images/img_water_bottom.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    align-items: center;
}

.parallax h2{
    color: black;
    padding-bottom: 5vh;
    padding-top: 5vw;
}

.parallax2 p{
    color: white;
    font-size: 1.2vw;
}

.btn1{
    float: left;
    background-color: transparent !important;
    color: white!important;
}

.btn2{
    float: right;
    background-color: transparent !important;
    color: white!important;
}

.cols3{
    position: relative
}

.count{
    position: absolute;
    top:0;bottom: 0;left: 0;right: 0;
    padding-top: 8vh;
}

.footer{
    background-image: url(Images/img_water_bottom1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}

.rights{
    position: absolute;
    bottom: 0;
    color: black;
}















