
.space{
    height: 4vw;
}

*{
    padding: 0;
    margin: 0;
}
        
.content{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
        
.slide{
    z-index: 2;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
    
.slide .innerleft{
    font-family: 'Raleway', sans-serif;
    width: 50%;
    position: absolute;
    left: 0;
    text-align: left;
    bottom: 30%;
}
.innerleft h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    left: 10%;
    font-size: 4vw !important;
    letter-spacing: 10px;
    font-weight: normal;
    bottom: 1vw;
}
.innerleft h2{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    top: 2.5vw;
    left: 10%;
    font-size: 1.87vw;
}
#slide4-h2{
    letter-spacing: 0.079vw;
}
.innerleft h1 b{
    font-size: 10vw !important;
    font-weight: 100;
}
.innerright h1{
    padding: 30px;
    margin-left: 13vw;
    position: absolute;
    font-size: 3.5vw !important;
    left: 50%;
}
.slide .innerright{
    width: 42%;
    position: absolute;
    right: 6vw;
    text-align: left;
    background-color: rgba(0,0,0,0.2);
    /* padding: 0 !important; */
    margin-right: 10px;
}
.innerright p{
    margin: auto;
    text-align: left;
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2vw;
}
.innerleft p{
    padding: 15px;
    text-align: left;
    font-size: 1.2vw;
    color: #003f87;
    background-color: rgba(255,255,255,0.5);
}

#slide1 .innerleft{
    width: 50%;
    position: absolute;
    left: 5%;
    bottom: 35%;
    text-align: left;
}
#slide1 .innerleft h1{
    color: #003f87;
    letter-spacing: 2px;
}
#slide1 .innerleft h2{
    color: #003f87;
}
#slide1 .innerright{
    bottom: 16%;
}
#slide1{
    background-image: url(../Images/bg_aumade_slide1.jpeg);
}

#slide2 .innerleft{
    width: 50%;
    position: absolute;
    left: 0;
    bottom: 35%;
    text-align: left;
    
}
#slide2 .innerleft h1{
    letter-spacing: 5px;
}
#slide2 .innerright{
    bottom: 16%;
}
#slide2{
    background-image: url(../Images/bg_aumade_slide2.jpg);
}

#slide3 .innerleft{
    bottom: 41%;
}
#slide3 .innerleft h1{
    left: 10% !important;
    letter-spacing: 5px;
}
#slide3 .innerright{
    bottom: 16%;
}
#slide3{
    background-image: url(../Images/bg_aumade_slide3.jpg);
}

#slide4 .innerright{
    bottom: 22%;
}
#slide4 .innerleft p{
    width: 65%;
}
#slide4{
    background-image: url(../Images/bg_aumade_slide4.jpg);
}

.footer{
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    height: 70px;
    background-color: #fff;
}
.footer p{
    left: 0 !important;
    width: 100% !important;
    background-color: transparent;
    top: 20% !important;
    font-size: 1.2vw;
}
.footer img{
    width: 35%;
    margin-left: 10vw;
    /* margin-right: 0; */
    display: block;
}
