
.space{
    height: 4vw;
}

*{
    padding: 0;
    margin: 0;
}
        
.content{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
        
.slide{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.slide h1{
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    font-size: 4vw !important;
    font-family: 'Open Sans Condensed', sans-serif !important;
    position: relative;
}
.slide p{
    border-bottom-right-radius: 25px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    position: relative;
    text-align: left;
    font-size: 1.2vw;
}

#slide1 h1{
    width: 41%;
    color: #fff;
    top: 25%;
    right: -55%;
}
#slide1 p{
    width: 41%;
    color: #fff;
    top: 25%;
    right: -55%;
}
#slide1{
    background-position: 0% 38%;
    background-image: url(../Images/bg_aulife_slide1_1.jpg);
}


#slide2 h1{
    padding: 10px;
    color: #fff;
    top: 16%;
    left: 4%;
    width: 40%;
}
#slide2 p{
    padding: 10px;
    color: #fff;
    top: 16%;
    left: 4%;
    width: 40%;
}
#slide2{
    background-image: url(../Images/bg_aulife_s2.jpg);
}

#slide3 h1{
    color: #fff;
    top: 30%;
    left: 3%;
    width: 39%;
}
#slide3 p{
    color: #fff;
    top: 30%;
    left: 3%;
    width: 39%;
}
#slide3{
    background-position: 0% 25%;
    background-image: url(../Images/bg_jason.jpg);
}

#slide4 h1,
#slide4 p{
    display: block;
}
#slide4 h1{
    width: 45vw;
    top: 20%;
    left: 28%;
    right: 28%;
    transform: translate(0,0);
}
#slide4 p{
    width: 45vw;
    top: 20%;
    left: 55%;
    transform: translate(-60%, 0%);
}
#slide4{
    background-image: url(../Images/bg_aulife_slide4_1.jpg);
}
.count{
    color: #fff;
    font-size: 40px;
    position: relative;
}
.footer{
    padding-left: 12vw;
    padding-right: 6vw;
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 4vw;
    height: 70px;
    background-color: #fff;
}
.footer p{
    background-color: transparent;
}
.footer img{
    width: 35%;
    margin-left: 6vw;
    /* margin-right: 0; */
    display: block;
}