.container{
    padding-left: 15px;
    padding-right: 15px;
    padding: 0 10em !important;
}

.space-top{
    height: 20vh;
}
.space-bottom{
    height: 6vw;
}
.content-img{
    height: 20vw;
    background-image: url(../Images/img_stuffholdwater.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-img1{
    height: 20vw;
    background-image: url(../Images/stroy_img3.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-img2{
    height: 20vw;
    background-image: url(../Images/story_img2.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.content-word p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    margin-top: 1vw;
    text-align: left !important;
    color: #003f87 !important;
}

#sec1 h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px !important;
    color: #003f87 !important;
    margin-bottom: 2vw;
}